[Unit]
Description=SignalZero daily pipeline
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/vishnu/worklab/SignalZero
ExecStart=/home/vishnu/worklab/SignalZero/.venv/bin/python main.py
StandardOutput=append:/home/vishnu/worklab/SignalZero/signalzero.log
StandardError=append:/home/vishnu/worklab/SignalZero/signalzero.log
EnvironmentFile=/home/vishnu/worklab/SignalZero/.env
User=vishnu
Group=vishnu

[Install]
WantedBy=multi-user.target
